@import "../../tower-global.scss";
@import "../../../theme.scss";


.specification-info-container{
  background: #fff !important;
  color: #000000 !important;
  padding: 0px;
  z-index: 5;
  .specification-info-close{
    // top: 15px !important;
    // right: 15px !important;
    // cursor: pointer;
    top: 0px !important;
    right: 0px !important;
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    background: transparent;
    border: unset;
    img{
      width: 75%;
    }
  }
  .specification-info-title{
    text-align: center;
    font-weight: bold;
    background: $tower-option-s-color; // #bf2f66; // linear-gradient(to right, #fba575 0%, #f35a1d 100%);//#c03067;
    color: #fff;
    padding: 10px 5px;
  }
  .specification-info-body-container{
    max-height: 350px;
    overflow: auto;
    .specification-info-table{
      width: 100%;
      background: $towerLayerPopupBgColor;
      thead th{
        text-transform: uppercase;
      }
    }
  }
}