@import '~compass-mixins/lib/compass/css3';
@import '../theme.scss';

$primary-dark-color: $primary-dark-color;// #007dc6;
$secondry-dark-color: $secondry-dark-color;// #007dc6;
$secondry-selected-color: $secondry-selected-color;

$btn-color : #017dc7;
$icon-width : 60; // 65;
$center-controller-width : 132; // 112;
/* .print-map {
    width: 100%;
    height: 100%;
    position: relative;
} */
.presentation-tool-modal-container{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: transparent;
    z-index: 560; // 1060;
    .presentation-tool-modal-area{
      width: 80%;
      // margin-left: 20%;
      height: 80%;
      // margin-top: 50px;
      margin: 3rem 10rem;
      border-radius: 35px;
      overflow: hidden;
  
      .presentation-tool-page-container{
        overflow: hidden;
        width: 100%;
        height: 100%;
        // padding-top: 20px;
        
        position: relative;
        // background: rgba(0, 0, 0, 0.8);
        .presentation-tool-header-container{
          padding: 10px 20px;
          background: $primary-dark-color;
          line-height: 25px;
          position: relative;
          .title{
            color: $white-color;
            .icon-img{
              height: 25px;
              width: auto;
              margin-right: 5px;
            }
          }
          .close-btn{
            position:absolute;
            top: 10px;
            right: 15px;
            border: 1px solid;
            border-color: white;
            background-color: black;
            color: white;
            border-radius: 7px;
            cursor: pointer;
            z-index: 1;
          }
        }
        .presentation-tool-body-container{
          // display: flex;
          height: calc(100% - 90px);
          overflow: hidden;
          // padding: 10px;
          width: 100%;
          position: relative;
          // background: rgba(255, 255, 255, 0.5);
          // background-image: linear-gradient(to bottom, rgb(240 255 40 / 9%) 0%, rgb(240 255 40 / 7%) 0%), 
          // linear-gradient(to bottom, rgba(255, 255, 255, 0) 98% , rgba(255, 255, 255, 1) 1%),
          // linear-gradient(to left, rgba(255, 255, 255, 0) 98% , rgba(255, 255, 255, 1) 1%), 
          // linear-gradient(to top, rgba(255, 255, 255, 0) 97% , rgba(255, 255, 255, 1) 1%);
          // background-clip: content-box, padding-box;
          background: rgba(164, 165, 169, 0.7);
          display: flex;
          .presentation-image-container{
            width: 70%;
            text-align: -webkit-center;
            img{
              max-width: 100%;
              max-height: 100%;
            }
            .print-size {
              width: 210px;
              height: 297px;
              /* position: fixed;
              top: 40%;
              left: 45%;
              margin-top: -9em;
              margin-left: -15em; */
              border: 1px solid #ccc;
              background-color: gray;
              margin-top: 5px;
            }
            .print-map {
              width: 100%;
              height: 100%;
              position: relative;
              resize: both;
              overflow: hidden;
              background: red($color: #000000);
            }
            .imageN {
              width: 60px;
              height: 60px;
              padding: 0;
              transition: all .5s;
              
            }
          }
          .print-ops-container{
            width: 30%;
            padding: 0 10px;
            // background: rgba(255, 255, 255, 0.5);
            .op-container{
              height: 30px;
              width: 100%; // 75px;
              font-size: 14px;
              position:relative;
              background-color:white;
              border:solid grey 1px;
              border-radius: 4px;
              margin: 30px 0px;
              .select{
                  // position: absolute;
                  /* top: 0px; */
                  /* left: 0px; */
                  border: none;
                  /* margin: 0; */
                  width: 100%;
                  border-radius: 4px;
                  height: 100%;
              }
              .select-title{
                  font-size: 12px;
                  position: absolute;
                  top: -14px;
                  left: 0;
                  line-height: 10px;
                  margin: 0;
                  font-weight: bold;
              }
              input{
                position: absolute;
                /* top: 0px; */
                /* left: 0px; */
                width: calc( 100% - 16px ); // 20px ); //70px;
                height: 100%;
                /* padding: 1px; */
                /* font-size: 12px; */
                border: none;
                border-radius: 4px;
                background: inherit;
                left: 0;
              }
            }
          }  
          .presentation-legend-container{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 200px;
            max-height: 180px;
            padding: 5px;
            background: rgba(255, 255, 255, 0.6);
            overflow: auto;
            .title{
              text-decoration: underline;
              font-weight: bold;
            }
            .layer{
              border: .5px solid #d0d0d0;
              display: flex;
              .layer-color-container{
                min-width: 40px;
                max-width: 40px;
                height: 30px;
                padding: 5px;
                border-right: 1px solid #d0d0d0;
                text-align: -webkit-center;
                text-align: -moz-center;
                text-align: -o-center;
                text-align: -ms-center;
                  .line{
                    border-top: 2px solid;
                    width: 100%;
                    height: 0;
                    margin-top: 25%;
                  }
                  .polygon{
                    border: 1px solid;
                    width: 100%;
                    height: 100%;
                  }
                  .point{
                    border: 1px solid;
                    border-radius: 50%;
                    width: 20px;
                    height: 20px;
                  }
              }
              .layer-name-container{
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                padding: 5px;
                line-height: 20px;
                font-size: 14px;
              }
            }
          }
        }
        .presentation-tool-footer-container{
          height: 45px;
          width: 100%;
          text-align: center;
          background: #707175;
          position: relative;
          .print-btn{
            position: absolute;
            right: 30px;
            padding: 0;
            top: 7px;
            line-height: 0;
            cursor: pointer;
          }
        }
      }
    }
    @media screen and (max-width: 850px) {
      .presentation-tool-modal-area{
        width: 90%;
        margin-left: 5%;
        height: calc(100% - 40px);
        margin-top: 20px;
        .presentation-tool-page-container{
          padding: 0;
          overflow: auto;
          background-repeat: repeat;
          .presentation-tool-body-container{
            // height: auto;
            // padding: 20px 10px;
            display: block;
            .presentation-image-container{
              width: 100%;
              height: 60%;
            }
            .print-ops-container{
              width: 100%;
              height: 40%;
              overflow: auto;
            }
          }
          .presentation-tool-footer-container{
            
          }
        }
      }
    }
    .scale-container-popup{
      margin-left: 5px;
      padding-left: 0px;
      min-width: 40px;
      background-color: #e2e2e2;
      color: $black-color;
      transition: 1.5s width;
      border: .5px solid;
      text-align: center;
      font-size: 10px;
    }
  }

  .print-style{
    height:100%;
    width:564px;
    background: white;
    margin: auto;
    position: relative;
  }

  .print-map{
    width: 100%;
    height:100%;
    // background: red;
    position: absolute;
    // overflow-y: scroll;
    // scrollbar-width: none; /* Firefox */
    // -ms-overflow-style: none;  /* Internet Explorer 10+ */
    
  }

  .print-map::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

  #map-mini{
    width: 100%;
    height: 100%;
  }

  // .new-print-style{
  //   height:100%;
  //   width:564px;
  //   background: white;
  //   margin: auto;
  //   position: relative;
  // }

  .outer {
    position: relative;
    display: inline-block;
    height: 100%; // 40px;
    width: 100%; // 40px;
    background: lightgray;
    border-radius: 50%;
}
.needle {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    transition: all .5s;
}
.needle:before {
    content: "";
    position: absolute;
    top: calc(50% - 3px);
    left: calc(50% - 3px);
    height: 6px;
    width: 6px;
    background: black;
    border-radius: 50%;
}
.needle:after {
    content: "";
    position: absolute;
    top: 0;
    left: calc(50% - 1px);
    height: 50%;
    width: 2px;
    background: black;
}