%svg-common {
	background: url("/assets/sprites/svg/sprite-def.svg") no-repeat;
}

.svg-left-icon_-1 {
	@extend %svg-common;
	background-position: 25.395256916996047% 38.40864440078585%;
}

.svg-left-icon_-1-dims {
	width: 44.6px;
	height: 36.4px;
}

.svg-left-icon_-10 {
	@extend %svg-common;
	background-position: 95.82172701949858% 68.26148744670773%;
}

.svg-left-icon_-10-dims {
	width: 31.6px;
	height: 28.9px;
}

.svg-left-icon_-11 {
	@extend %svg-common;
	background-position: 45.13399153737659% 38.01652892561984%;
}

.svg-left-icon_-11-dims {
	width: 34.3px;
	height: 34.3px;
}

.svg-left-icon_-12 {
	@extend %svg-common;
	background-position: 32.04887218045112% 84.24890617403987%;
}

.svg-left-icon_-12-dims {
	width: 34.2px;
	height: 34.3px;
}

.svg-left-icon_-13 {
	@extend %svg-common;
	background-position: 0 84.24890617403987%;
}

.svg-left-icon_-13-dims {
	width: 33.9px;
	height: 34.3px;
}

.svg-left-icon_-14 {
	@extend %svg-common;
	background-position: 61.11347216319592% 38.57267950963222%;
}

.svg-left-icon_-14-dims {
	width: 11.7px;
	height: 11.6px;
}

.svg-left-icon_-15 {
	@extend %svg-common;
	background-position: 68.77470355731225% 44.7841726618705%;
}

.svg-left-icon_-15-dims {
	width: 19.3px;
	height: 17.6px;
}

.svg-left-icon_-2 {
	@extend %svg-common;
	background-position: 22.744539411206077% 64.04494382022472%;
}

.svg-left-icon_-2-dims {
	width: 36.4px;
	height: 44.2px;
}

.svg-left-icon_-3 {
	@extend %svg-common;
	background-position: 55.14176893779095% 44.02268760907504%;
}

.svg-left-icon_-3-dims {
	width: 10.7px;
	height: 10.8px;
}

.svg-left-icon_-4 {
	@extend %svg-common;
	background-position: 56.28509719222463% 33.98522381573229%;
}

.svg-left-icon_-4-dims {
	width: 15.5px;
	height: 9.9px;
}

.svg-left-icon_-5 {
	@extend %svg-common;
	background-position: 76.54482158398608% 44.703770197486534%;
}

.svg-left-icon_-5-dims {
	width: 17.2px;
	height: 17.2px;
}

.svg-left-icon_-6 {
	@extend %svg-common;
	background-position: 55.802997858672384% 38.776408450704224%;
}

.svg-left-icon_-6-dims {
	width: 13.5px;
	height: 12.8px;
}

.svg-left-icon_-7 {
	@extend %svg-common;
	background-position: 82.20519369944657% 44.10983170947741%;
}

.svg-left-icon_-7-dims {
	width: 12.1px;
	height: 14.2px;
}

.svg-left-icon_-8 {
	@extend %svg-common;
	background-position: 59.54391891891892% 43.907745865970405%;
}

.svg-left-icon_-8-dims {
	width: 10.2px;
	height: 10.2px;
}

.svg-left-icon_-9 {
	@extend %svg-common;
	background-position: 15.937940761636108% 84.24890617403987%;
}

.svg-left-icon_-9-dims {
	width: 34.3px;
	height: 34.3px;
}

.svg-lett-center {
	@extend %svg-common;
	background-position: 46.41375222288086% 0;
}

.svg-lett-center-dims {
	width: 78.3px;
	height: 78.2px;
}

.svg-middle-center {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-middle-center-dims {
	width: 78.3px;
	height: 78.2px;
}

.svg-middle-icon_-1 {
	@extend %svg-common;
	background-position: 47.407407407407405% 84.20796890184644%;
}

.svg-middle-icon_-1-dims {
	width: 31px;
	height: 34.2px;
}

.svg-middle-icon_-10 {
	@extend %svg-common;
	background-position: 39.55393718707328% 97.60225669957688%;
}

.svg-middle-icon_-10-dims {
	width: 27.3px;
	height: 27.3px;
}

.svg-middle-icon_-2 {
	@extend %svg-common;
	background-position: 99.46987951807228% 19.40948693126815%;
}

.svg-middle-icon_-2-dims {
	width: 39.5px;
	height: 33.4px;
}

.svg-middle-icon_-3 {
	@extend %svg-common;
	background-position: 12.373037857802402% 99.04580152671758%;
}

.svg-middle-icon_-3-dims {
	width: 30.4px;
	height: 30.4px;
}

.svg-middle-icon_-4 {
	@extend %svg-common;
	background-position: 89.72133394243946% 83.63899613899615%;
}

.svg-middle-icon_-4-dims {
	width: 28.1px;
	height: 32.8px;
}

.svg-middle-icon_-5 {
	@extend %svg-common;
	background-position: 98.85057471264365% 35.749027237354085%;
}

.svg-middle-icon_-5-dims {
	width: 38.2px;
	height: 34.4px;
}

.svg-middle-icon_-6 {
	@extend %svg-common;
	background-position: 0 99.71181556195968%;
}

.svg-middle-icon_-6-dims {
	width: 26.8px;
	height: 31.8px;
}

.svg-middle-icon_-7 {
	@extend %svg-common;
	background-position: 76.36618402615599% 83.63899613899615%;
}

.svg-middle-icon_-7-dims {
	width: 32.9px;
	height: 32.8px;
}

.svg-middle-icon_-8 {
	@extend %svg-common;
	background-position: 61.502996772706304% 84.04461687681862%;
}

.svg-middle-icon_-8-dims {
	width: 30.1px;
	height: 33.8px;
}

.svg-middle-icon_-9 {
	@extend %svg-common;
	background-position: 26.32305568338702% 98.24893516327498%;
}

.svg-middle-icon_-9-dims {
	width: 29.7px;
	height: 28.7px;
}

.svg-right-icon_-1 {
	@extend %svg-common;
	background-position: 79.41176470588236% 26.182965299684543%;
}

.svg-right-icon_-1-dims {
	width: 49.8px;
	height: 49.8px;
}

.svg-right-icon_-2 {
	@extend %svg-common;
	background-position: 0 40.56016597510373%;
}

.svg-right-icon_-2-dims {
	width: 51.4px;
	height: 47.2px;
}

.svg-right-icon_-3 {
	@extend %svg-common;
	background-position: 40.4510556621881% 63.0784708249497%;
}

.svg-right-icon_-3-dims {
	width: 38.6px;
	height: 41.2px;
}

.svg-right-icon_-4 {
	@extend %svg-common;
	background-position: 99.66199903428294% 0;
}

.svg-right-icon_-4-dims {
	width: 39.9px;
	height: 40.1px;
}

.svg-right-icon_-5 {
	@extend %svg-common;
	background-position: 76.64728682170542% 62.88866599799398%;
}

.svg-right-icon_-5-dims {
	width: 40.6px;
	height: 40.6px;
}

.svg-right-icon_-6 {
	@extend %svg-common;
	background-position: 98.42632331902718% 52.94406280667321%;
}

.svg-right-icon_-6-dims {
	width: 37.3px;
	height: 36.2px;
}

.svg-right-icon_-7 {
	@extend %svg-common;
	background-position: 58.053849787435055% 62.95180722891567%;
}

.svg-right-icon_-7-dims {
	width: 35.3px;
	height: 40.8px;
}

.svg-right-icon_-8 {
	@extend %svg-common;
	background-position: 79.41176470588236% 0;
}

.svg-right-icon_-8-dims {
	width: 49.8px;
	height: 49.8px;
}

.svg-search-icon {
	@extend %svg-common;
	background-position: 0 65.27850078084332%;
}

.svg-search-icon-dims {
	width: 47.9px;
	height: 47.9px;
}

