
@import '~compass-mixins/lib/compass/css3';
@import '../../theme.scss';

$primary-dark-color: $primary-dark-color;


// can touch this!
$items: 5; //6;
$size: 75;
$bgcolor: #fff; //nth($bgcolor, $i)

// can't touch this!
$deg: 360/$items;
$unrotate: - (90 - $deg)/2;
$skew: 90 - $deg;


.circle-menu-card-container{
    // @include transform(scale(0.2));
    @include transition(.3s ease-out all);
    position: relative;
    padding: 5px;
    margin: 0px 1px;
    // width: 60px;
    // height: 70px;
    border-radius: 50%;
    background: white;
    box-shadow: 1px 1px 7px 0px;
    // cursor: pointer;
    .circle-menu-container{
        border-radius: 50%;
        height: 100%;
        // background: -webkit-radial-gradient(red, yellow, green);
        // background: radial-gradient(red, yellow, green);
        background: radial-gradient(white 35%, $tray-highlight-color/*#006dad*/ 65%);
        padding: 5px;
        .circle-menu{
            width: 150px;
            height: 150px;



            ul {
                // @include transform(scale(0.2));
                // @include transition(.3s ease-out all);
                list-style-type: none;
                margin: 0;
                padding: 0;
                position: relative;
                display: inline-block;
                width: #{$size*2}px;
                height: #{$size*2}px;
                z-index: 500;
                
                li {
                  position: absolute;
                  cursor: pointer;
                  width: #{$size}px;height: #{$size}px;
                  -webkit-transform-origin: 100% 100%;
                  transform-origin: 100% 100%;
                  -moz-transform-origin: 100% 100%;
                  -o-transform-origin: 100% 100%;
                  -ms-transform-origin: 100% 100%;
                  overflow: hidden;
                  display: none;
                  border-bottom: 1px solid #d0d0d0;
                  z-index: 502;
                  span {
                    color: lighten($bgcolor, 20%);
                    display: block;
                    width: #{$size*2}px;height: #{$size*2}px;
                    border-radius:50%;
                    text-align: center;
                    background: $bgcolor;
                    font-size: 25px;
                    position: relative;
                    z-index: 5;
                  //   i{
                  //     color: #000;
                  //   }
                      img{
                          width: 35px; // 30px;
                            position: absolute;
                            left: 50%;
                            bottom: calc( 100% - 40px );
                            z-index: 1;
                      }
                  }
                  .selected{
                    background:  $tray-highlight-color/*#006dad*/ !important;
                    transform: scale(1.1);
                  }
                  
                  &:nth-child(odd){
                      span {
                        background: lighten($bgcolor, 2%);
                      }
                  }
                  
                  @for $i from 1 through $items {
                    &:nth-child(#{$i}) {
                      display: block;
                      @include transform(rotate(#{$i*$deg}deg) skew(#{$skew}deg));
              
                      span {
                        line-height: #{$size/2}px;
                        @include transform(skew(#{-$skew}deg) rotate(-#{$deg}deg));
              
                        &:hover {
                          // background: darken($bgcolor, 5%);
                          background:  $tray-highlight-color; // #006dad;
                          color: white;
                        }
                        img{
                          @include transform(rotate(#{60-($i*$deg)+12}deg));
                        }
                      }
                    }
                  }
              
                  // &.close {
                  //   width: 50px;
                  //   height: 50px;
                  //   background: white;
                  //   border-radius: 50%;
                  //   position: absolute;
                  //   left: calc(50% - 25px);
                  //   top: calc(50% - 25px);
                  //   display: block;
                  //   @include transform(scale(3.8) rotate(45deg));
                  //   @include transition(.3s ease-in-out all);
                  //   -webkit-transform-origin: 50% 50%;
                    
                  //   span {
                  //     background: none;
                  //     width: 50px;
                  //     height: 50px;
                  //     line-height: 50px;
                  //     color: #ccc;
                  //   }
                  // }
                }
                
              
                
              }




        }        
    }
    &.active {
        // @include transform(scale(1));
    
        .close_menu {
          @include transform(rotate(0deg));
        }
    }
    .close_menu {
        // width: 20px;
        // height: 20px;
        font-size: 18px;
        padding: 4px;
        background: white;
        border-radius: 50%;
        position: absolute;
        left: calc(50% - 12px);
        top: calc(50% - 12px);
        display: block;
        @include transform(scale(3.8) rotate(45deg));
        @include transition(.3s ease-in-out all);
        -webkit-transform-origin: 50% 50%;
        -moz-transform-origin: 50% 50%;
        -o-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        box-shadow: 0px 0px 1px 0px;
        // a {
        //   background: none;
        //   width: 50px;
        //   height: 50px;
        //   line-height: 50px;
        //   color: #ccc;
        // }
    }
}

.properties{

  .icon-card-properties-container{
    position: relative;
    z-index: 505;
    border-radius: 50%;
    background: white;
    box-shadow: 1px 1px 7px 0px;
    cursor: pointer;
    position: absolute; 
  }

  // predefined=======================
  .predefined{
    background: url("../../../assets/svgs/geo-tray/predefined_dark.svg");
    background-color: white;
    padding: 20px;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center; 
    border: 2px solid black;
  }
  .predefined:hover{
    background: url("../../../assets/svgs/geo-tray/predefined_white.svg");
    background-color: black;
    padding: 20px;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;   
    border: 2px solid white;
    
  }
  
  .predefinedactive {
    background: url("../../../assets/svgs/geo-tray/predefined_white.svg");
    background-color: black;
    padding: 20px;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid white;

  }
  
  .predefinednotActive {
    background: url("../../../assets/svgs/geo-tray/predefined_dark.svg");
    background-color: white;
    padding: 20px;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center; 
    border: 2px solid black;
  }
  
  // classified=============
  .classified{
    background: url("../../../assets/svgs/geo-tray/classfied_dark.svg");
    background-color: white;
    padding: 20px;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center; 
    border: 2px solid black;
  }
  .classified:hover{
    background: url("../../../assets/svgs/geo-tray/classfied_light.svg");
    background-color: black;
    padding: 20px;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;   
    border: 2px solid white;
    
  }
  
  .classifiedactive {
    background: url("../../../assets/svgs/geo-tray/classfied_light.svg");
    background-color: black;
    padding: 20px;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid white;

  }
  
  .classifiednotActive {
    background: url("../../../assets/svgs/geo-tray/classfied_dark.svg");
    background-color: white;
    padding: 20px;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center; 
    border: 2px solid black;
  }
  // blended=====================
  .blended{
    background: url("../../../assets/svgs/geo-tray/blended_dark.svg");
    background-color: white;
    padding: 20px;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center; 
    border: 2px solid black;
  }
  .blended:hover{
    background: url("../../../assets/svgs/geo-tray/blended_light.svg");
    background-color: black;
    padding: 20px;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;   
    border: 2px solid white;
    
  }
  
  .blendedactive {
    background: url("../../../assets/svgs/geo-tray/blended_light.svg");
    background-color: black;
    padding: 20px;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid white;

  }
  
  .blendednotActive {
    background: url("../../../assets/svgs/geo-tray/blended_dark.svg");
    background-color: white;
    padding: 20px;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center; 
    border: 2px solid black;
  }

  // collocated===================
  .collocated{
    background: url("../../../assets/svgs/geo-tray/collocated_dark.svg");
    background-color: white;
    padding: 20px;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center; 
    border: 2px solid black;
  }
  .collocated:hover{
    background: url("../../../assets/svgs/geo-tray/collocated_light.svg");
    background-color: black;
    padding: 20px;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;   
    border: 2px solid white;
    
  }
  
  .collocatedactive {
    background: url("../../../assets/svgs/geo-tray/collocated_light.svg");
    background-color: black;
    padding: 20px;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid white;

  }
  
  .collocatednotActive {
    background: url("../../../assets/svgs/geo-tray/collocated_dark.svg");
    background-color: white;
    padding: 20px;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center; 
    border: 2px solid black;
  }

// extended
  .extended{
    background: url("../../../assets/svgs/geo-tray/extended_dark.svg");
    background-color: white;
    padding: 20px;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center; 
    border: 2px solid black;
  }
  .extended:hover{
    background: url("../../../assets/svgs/geo-tray/extended_light.svg");
    background-color: black;
    padding: 20px;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;   
    border: 2px solid white;
    
  }
  
  .extendedactive {
    background: url("../../../assets/svgs/geo-tray/extended_light.svg");
    background-color: black;
    padding: 20px;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid white;

  }
  
  .extendednotActive {
    background: url("../../../assets/svgs/geo-tray/extended_dark.svg");
    background-color: white;
    padding: 20px;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center; 
    border: 2px solid black;
  }
}

// SLOPEFINDER
.slope{
  .icon-card-slope-finder{
    position: relative;
    z-index: 505;
    border-radius: 50%;
    background: white;
    box-shadow: 1px 1px 7px 0px;
    cursor: pointer;
    position: absolute; 
  }

.slopefinder{
  background: url("../../../assets/svgs/geo-tray/extended_dark.svg");
  background-color: white;
  padding: 20px;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center; 
  border: 2px solid black;
}
.slopefinder:hover{
  background: url("../../../assets/svgs/geo-tray/extended_light.svg");
  background-color: black;
  padding: 20px;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;   
  border: 2px solid white;
  
}

.slopefinderactive {
  background: url("../../../assets/svgs/geo-tray/extended_light.svg");
  background-color: black;
  padding: 20px;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid white;

}

.slopefindernotActive {
  background: url("../../../assets/svgs/geo-tray/extended_dark.svg");
  background-color: white;
  padding: 20px;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center; 
  border: 2px solid black;
}

.slopedropdown{
  background-color: white;
  position: relative;
  z-index: 505;
  border-radius: 50%;
  background: white;
  box-shadow: 1px 1px 7px 0px;
  cursor: pointer;
  position: absolute;
  border: 0.5px solid black;
 

}

}

// BUFFERTOOL
.buffertool{
  .icon-card-buffer-tool{
    position: relative;
    z-index: 505;
    border-radius: 50%;
    background: white;
    box-shadow: 1px 1px 7px 0px;
    cursor: pointer;
    position: absolute; 
  }

.buffertool{
  background: url("../../../assets/svgs/geo-tray/extended_dark.svg");
  background-color: white;
  padding: 20px;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center; 
  border: 2px solid black;
}
.buffertool:hover{
  background: url("../../../assets/svgs/geo-tray/extended_light.svg");
  background-color: black;
  padding: 20px;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;   
  border: 2px solid white;
  
}

.buffertoolactive {
  background: url("../../../assets/svgs/geo-tray/extended_light.svg");
  background-color: black;
  padding: 20px;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid white;

}

.buffertoolnotActive {
  background: url("../../../assets/svgs/geo-tray/extended_dark.svg");
  background-color: white;
  padding: 20px;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center; 
  border: 2px solid black;
}
}



.icon-card-container{
  position: relative;
  z-index: 505;
  
  // padding: 5px;
  // margin: 0px 1px;
  // width: 60px;
  // height: 70px;
  border-radius: 50%;
  background: white;
  box-shadow: 1px 1px 7px 0px;
  cursor: pointer;
  position: absolute; 
  .icon-container{
      border-radius: 50%;
      height: 100%;
      
      // background: -webkit-radial-gradient(red, yellow, green);
      // background: radial-gradient(red, yellow, green);
      padding: 3px; //5px;
      // background: radial-gradient(white 35%, #006dad 65%);
      background: $tray-highlight-color; // #006dad;
      .icon-bg-container{

       
          // background-color: #ffffff;
          // background-image: url("/assets/svgs/geosol/circle.png");
          // background-repeat: no-repeat;
          // background-size: contain;
          background: $white-color;
          border-radius: 50%;
          height: 100%;
          .icon-img{
            padding: 10px;
            width: 100%;
            height: 100%;
          }
      }
  }
  // .span-ele{
  //     background: transparent;
  //     width: 60px;
  //     height: 60px;
  //     position: absolute;
  //     border-radius: 50%;
  //     top: 0;
  //     left: 0;
  // }
}
.icon-card-container.selected{
  .icon-container{
    .icon-bg-container{
      background-image: none;
      background: radial-gradient($tray-highlight-color/*#006dad*/ 35%, #003374 65%);
    }
  }
}
.icon-card-container:hover{
  box-shadow: 2px 2px 9px 0px;
  .icon-container{
    background: $white-color;
      .icon-bg-container{
          background: $tray-highlight-color;
          transform: scale(1.1);
          // background: transparent;
      }
  }
}