<div [hidden]="!onbufferClicked">
  <div class="geotray-suboptions-popup-container">
    <!-- <div class="input-btn-container" ngbDropdown #dropDown="ngbDropdown"> -->
    <div class="subpopup-btn-container">
      <div class="container">
        <div class="submenue-popupclsmin">
          <img
            src="../../assets/svgs/geo-tray/cancel-black.svg"
            width="22px"
            height="22px"
            alt=""
            style="
              background-color: #bcbcbc;
              cursor: pointer;
              border-radius: 50%;
            "
            (click)="onbufferClicked = false"
          />
        </div>

        <div
          class="d-lg-flex justify-content-between align-items-center"
          style="z-index: -1"
        >
          <div>
            <select
              class="submenu-popup-options"
              name="attribute"
              id="attribute"
              placeholder="Select Column Z-Axis Data"
            >
              <option value="Left">Left</option>
              <option value="Right">Right</option>
              <option value="Both">Both</option>
            </select>
          </div>

          <div class="input-box d-flex" style="height: 53%">
            <input type="text" placeholder="Enter Buffer" />
            <select style="background-color: #bcbcbc">
              <option value="inches">inches</option>
              <option value="feet">feet</option>
              <option value="yard">yard</option>
              <option value="miles">miles</option>
              <option value="cm">cm</option>
              <option value="m">m</option>
              <option value="km">km</option>
            </select>
          </div>

          <div class="input-box" style="height: 53%">
            <input type="text" placeholder="Enter Angle" />
            <!-- <i
                class="fa fa-search"
                style="width: 10px; height: 10px; top: 22px"
              ></i> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
